---
// Props: subjects: Array<{ name: string, icon: string, bgColor: string, darkBgColor: string, href: string }>
const { subjects = [] } = Astro.props;
---
<div class="grid grid-cols-2 md:grid-cols-4 gap-6">
  {subjects.map(subject => (
    <a href={subject.href} class="group flex flex-col items-center p-6 bg-white dark:bg-slate-800 rounded-xl shadow hover:shadow-lg transition hover:bg-blue-50 dark:hover:bg-slate-700 text-center">
      <div class={`flex items-center justify-center w-16 h-16 mb-4 rounded-full ${subject.bgColor} ${subject.darkBgColor}`}>
        <img src={subject.icon} alt={`${subject.name} Icon`} class="w-16 h-20" />
      </div>
      <span class="font-semibold text-lg text-gray-900 dark:text-white">{subject.name}</span>
    </a>
  ))}
</div> 